header{
    text-align: center;
    background-color: aquamarine;
}
img{
    
    height :300px;
    width:200px;

}
h2{
    text-decoration-style: solid;
    text-align: center;
    color:blue;
    background-color: black;
}
footer{
    text-align: center;
}
html{
    background-color:aqua;
}
hr{
    background-color: blueviolet;
}
p{
    color: rgb(255, 0, 153);
}
li{
    color: rgb(255, 0, 153);
}
h3{
    color:black
}
